<article class="todo-main">
  <h1 class="todo-main__title">My To-do list</h1>
  <section class="add-todo">
    <input type="text" class="add-todo__input" name="new-todo" placeholder="What's next? ">
    <input type="date" class="add-todo__date" name="date">
    <button class="add-todo__button">Add</button>
  </section>
  <%=render partial: "todo-section", locals: {section_title: "Overdue"} %>
  <%=render partial: "todo-section", locals: {section_title: "Due Today"} %>
  <%=render partial: "todo-section", locals: {section_title: "Due Later"} %>
  </article>
