.home__section {
  margin-top: 32px;
}

.home__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.home__authenticate {
  font-size: 16px;
  margin-bottom: 20px;
}

.user-header {
  width: fit-content;
  margin: auto;
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 10px;
}

.page-content {
  margin: 0 auto;
  width: 600px;
}
